<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-text-input
        [control]="loginFC.email"
        [showErrsWhen]="isSubmitted"
        label="Email"
        type="email"
      ></app-text-input>
      <app-text-input
        [control]="loginFC.password"
        [showErrsWhen]="isSubmitted"
        label="Password"
        type="password"
      ></app-text-input>

      <app-default-button text="Login"></app-default-button>
    </form>
  </div>
</div>
