<div class="container">
  <div class="content">
    <app-title title="Order Form" font-size="1.6rem"></app-title>
    <form [formGroup]="checkoutForm">
      <app-text-input [control]="checkoutFC.name" label="Name"></app-text-input>
      <app-text-input [control]="checkoutFC.address" label="Address"></app-text-input>
    </form>
    <app-order-items-list [order]="order"></app-order-items-list>
  </div>
  <div class="map">
    <app-title title="Choose Your Address On Map" fontsize="1.6rem"></app-title>
    <app-map [order]="order"></app-map>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <button (click)="createOrder()">Go To Payment</button>
    </div>
  </div>
</div>
